*{ /* adding border-box changes the way width works with padding so the image won't be distorted & 
    eliminates scroll bar */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html {
    width: 100%;
    height: 100%;
    background-color:#87d4b8;
}



body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}